!!! 5
html
	head
		title angular.hx
		link(rel="stylesheet", href="css/bootstrap.css")
	body(ng-app)
		.container
			.row
				.span12
					h1 angular.hx
					p Haxe bindings for angular.js
			.row(ng-controller="TestCtrl")
				.span12
					h2 TestController
					input(type="text", ng-model="name", placeholder="Enter your name", ng-change='change()')
					p Hello {{name}}!
					br
					a.btn(ng-click="update()") Update

		script(src='scripts/angular.js',type="text/javascript")
		script(src='scripts/test.js',type="text/javascript")