!!! 5
html
	head
		title angular.hx
		link(rel="stylesheet", href="css/bootstrap.css")
	body
		.container
			.row
				.span12
					h1 angular.hx
					p Haxe bindings for angular.js

		script(src='scripts/angular.js',type="text/javascript")